#Home{
  border-bottom: 1px solid $white-color;

  .home-section{
    width: 70%;
    height: 89vh;
    margin: 0 auto  ;
    display: flex;
    align-items: center;
    justify-content: center;

    .home-content-sec{
      width: 50%;
      
      .role-sec{
        
        .hello{
          font-size: 25px;
          font-weight: 300;
          opacity: 0;
          animation: slideBottom 1s ease forwards;
        }

        .name-sec{
          display: flex;
          align-items: center;
          gap: 2%;
          animation: slideLeft 1s ease forwards;

          p{
            font-weight: 600;
            font-size: 34px;
            letter-spacing: 0.3px;
            display: flex;
            align-items: center;
            margin: 16px 0;
        

            .color{
              color: $rose-color;
            }

            span:nth-child(11){
              margin-left: 5px;
            }

            span{
            opacity: 0;
            animation: slideLeft 0.5s ease forwards;
            animation-delay: calc(.1s * var(--i));  
            }

          }
        }
      
        .role-sec{
          display: flex;
          align-items: center;
          gap: 5px;
          animation: slideTop 1s ease forwards;
          h1{
            color: $white-color;
            font-size: 26px;
            font-weight: bold;
            // width: 496px;
            
            span{
              color: $primay-color;
            }
          }
          
          img{
            width: 30px;
          }
        }

        .role-explain{
          margin: 30px 20px 10px 0;
          text-align: justify;
          font-size: 18px;
        }
      }

      .icon-sec{
        margin: 15px 0;
        display: flex;
        align-items: center;
        gap: 3%;

        a:nth-child(1),
        a:nth-child(2){
          font-size: 36px;

          &:hover{
            color: $warning-color;
          }
        }

        a:nth-child(3){

          button{
            display: flex;
            align-items: center;
            gap: 5px;

            i{
              font-size: 20px;
            }
          }
        }
      }

      }

    .img-sec{
    animation: morph 8s ease-in-out infinite;
    background-image: url(../img/author.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #fd005b;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 26rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 26rem;
    }

  }
}

@media (min-width: 320px) and (max-width: 768px){
  #Home{

    .home-section{
      width: 90%;
      height: 100%;
      flex-direction: column;
      margin: 3% auto;
      
      .home-content-sec{
        width: 100%;
        margin: 2% 0px;

        .role-sec{

          h1{
            font-size: 30px;
            width: 90%;

            span:nth-child(1){
              display: inline-block;
            }
          }

          img{
            display: none;
          }

          .name-sec{
            p{
              font-size: 27px;
            }
          }
        }

        .icon-sec{
          gap: 2%;
        }

      }
      
      .img-sec{
        animation: none;
        width: 290px;
        height: 290px;
        border: 4px solid #fd005b;
        border-radius: 2px;
        margin: 10px 0;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1200px){
  #Home{

    .home-section{
      width: 90%;

      .home-content-sec{
        width: 100%;
        margin: 8% 0px;

        .role-sec{

          h1{
            font-size: 2.5rem;
            width: 90%;
          }
          
          img{
            display: none;
          }
        }
      }
      
      .img-sec{
        animation: none;
        width: 472px;
        height: 300px;
        border: 4px solid $rose-color;
        border-radius: 2px;
      }
    }
  }
}