$background-color: #0f1319;
$rose-color: #fd005b;
$black-color: #000;
$white-color: #fff;
$blue-color: #0000ff;
$warning-color: #ffc107;
$success-color: #198754;
$primay-color: #0dcaf0;
$danger-color: #dc3545;

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
div,
section {
  margin: 0;
  padding: 0;
  color: inherit;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

li{
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  background-color: $background-color;
  color: $white-color;
}


@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes rotate {
  100%{
    transform: rotate(1turn);
  }
}

@keyframes slideRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}